## Preprocessing

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df = application_df.drop(columns={'EIN', 'NAME'})

In [7]:
# Determine the number of unique values in each column.
app_counts = app_df.dtypes.index.tolist()
app_df[app_counts].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = app_df['APPLICATION_TYPE'].value_counts()
app_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 250].index)

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
class_count = app_df["CLASSIFICATION"].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count.loc[lambda x : x > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 300].index)

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_app_data = pd.get_dummies(app_df)
encoded_app_data

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays
y = encoded_app_data["IS_SUCCESSFUL"]
X = encoded_app_data.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 9
hidden_nodes_layer2 = 9

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 405

 dense_1 (Dense)             (None, 9)                 90

 dense_2 (Dense)             (None, 1)                 10

=================================================================
Total params: 505
Trainable params: 505
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5967 - accuracy: 0.6892
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5610 - accuracy: 0.7247
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7289
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7294
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7306
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7311
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7308
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7316
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7317
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7317
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7313
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7329
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7329
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7313
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7325
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7337
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7339
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7339
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7334
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7336
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7333
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7349
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7339
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7331
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7343
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7345
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7345
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7356
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7339
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7343
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7339
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7348
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7343
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7345
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7348
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7341
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7350
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7351
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7350
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7351
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7351
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7349
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7345
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7348
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7352
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7357
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7349
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7346
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7354
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7352
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7349
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7355
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7353
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7353
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5412 - accuracy: 0.7356
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7350
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7357
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7349
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7362
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7365
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7356
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7359
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7358
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7361
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7355
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7361
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7353
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7355
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7363
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7360
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7355
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7365
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7365
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7353
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7350
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7360
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7358
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5398 - accuracy: 0.7359
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7357
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7362
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7366
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7362
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7367
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7359
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7362
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7361
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7364
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7363
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7366
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7360
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7365
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7362
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7357
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7359
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7361
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7359

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5610 - accuracy: 0.7245 - 514ms/epoch - 2ms/step
Loss: 0.5609501600265503, Accuracy: 0.7245481014251709

In [27]:
# Export our model to HDF5 file
nn.save('Models/AlphabetSoupCharity_Attempt1.h5')

## Optimize the Model

In [30]:
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 4.4 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [31]:
import keras_tuner as kt

In [28]:
# Set value for input_dim
number_input_features = len(X_train_scaled[0])

# Create method for new Sequential model with hyperparameter option
def create_model (hp):
  nn_model = tf.keras.models.Sequential()

  # Activation function options
  activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid'])

  # Number of neurons in first layer
  nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units', min_value=1, max_value=10, step=2),
                                     activation=activation, input_dim=number_input_features))
  
  # Number of hidden layers and neurons per layer
  for i in range(hp.Int('num_layers', 1, 5)):
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i), min_value=1, max_value=10, step=2), activation=activation))

  nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

  # Compile the model
  nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

  return nn_model

In [32]:
# Create tuner with keras_tuner
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [33]:
# Run tuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 58s]
val_accuracy: 0.7140524983406067

Best val_accuracy So Far: 0.7279300093650818
Total elapsed time: 00h 25m 16s

In [40]:
# Find most accurate model
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 5,
 'num_layers': 4,
 'units_0': 5,
 'units_1': 3,
 'units_2': 11,
 'units_3': 5,
 'units_4': 11,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [35]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5616 - accuracy: 0.7279 - 870ms/epoch - 3ms/step
Loss: 0.5616005659103394, Accuracy: 0.7279300093650818

## Attempt 3

In [72]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 9
hidden_nodes_layer2 = 5
hidden_nodes_layer3 = 3
# hidden_nodes_layer4 = 9

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# # Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_31 (Dense)            (None, 9)                 405

 dense_32 (Dense)            (None, 5)                 50

 dense_33 (Dense)            (None, 3)                 18

 dense_34 (Dense)            (None, 1)                 4

=================================================================
Total params: 477
Trainable params: 477
Non-trainable params: 0
_________________________________________________________________

In [73]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [74]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=20)

Epoch 1/20
804/804 [==============================] - 4s 3ms/step - loss: 1.0128 - accuracy: 0.6232
Epoch 2/20
804/804 [==============================] - 3s 4ms/step - loss: 0.6311 - accuracy: 0.7069
Epoch 3/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5961 - accuracy: 0.7176
Epoch 4/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5854 - accuracy: 0.7220
Epoch 5/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5819 - accuracy: 0.7207
Epoch 6/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5762 - accuracy: 0.7232
Epoch 7/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5721 - accuracy: 0.7242
Epoch 8/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5684 - accuracy: 0.7240
Epoch 9/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5673 - accuracy: 0.7264
Epoch 10/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5654 - accuracy: 0.7258
Epoch 11/20
804/804 [==============================] - 3s 4ms/step - loss: 0.5642 - accuracy: 0.7257
Epoch 12/20
804/804 [==============================] - 5s 7ms/step - loss: 0.5640 - accuracy: 0.7269
Epoch 13/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5640 - accuracy: 0.7260
Epoch 14/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5622 - accuracy: 0.7265
Epoch 15/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7257
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5629 - accuracy: 0.7251
Epoch 17/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5618 - accuracy: 0.7259
Epoch 18/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5586 - accuracy: 0.7249
Epoch 19/20
804/804 [==============================] - 3s 3ms/step - loss: 0.5601 - accuracy: 0.7244
Epoch 20/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5568 - accuracy: 0.7271

In [49]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5587 - accuracy: 0.7263 - 744ms/epoch - 3ms/step
Loss: 0.5586504936218262, Accuracy: 0.7262973785400391

Attempt 4

In [64]:
limited_app_df = app_df.drop(columns={'APPLICATION_TYPE', 'SPECIAL_CONSIDERATIONS', 'STATUS', 'AFFILIATION'})
limited_app_df.head(15)

,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,C1000,ProductDev,Association,0,5000,1
1,C2000,Preservation,Co-operative,1-9999,108590,1
2,C3000,ProductDev,Association,0,5000,0
3,C2000,Preservation,Trust,10000-24999,6692,1
4,C1000,Heathcare,Trust,100000-499999,142590,1
5,C1200,Preservation,Trust,0,5000,1
6,C1000,Preservation,Trust,100000-499999,31452,1
7,C2000,Preservation,Trust,10M-50M,7508025,1
8,C1000,ProductDev,Trust,1-9999,94389,1
9,C3000,ProductDev,Association,0,5000,0
10,C1200,Preservation,Trust,25000-99999,69656,0
11,C2000,Preservation,Trust,100000-499999,165593,0
12,C1200,Preservation,Association,0,5000,1
13,Other,Preservation,Trust,25000-99999,5301,1
14,C1000,Preservation,Trust,0,5000,1

In [65]:
limited_app_data = pd.get_dummies(app_df)

In [66]:
# Split our preprocessed data into our features and target arrays
y = encoded_app_data["IS_SUCCESSFUL"]
X = encoded_app_data.drop(["IS_SUCCESSFUL"], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [67]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [78]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 9
hidden_nodes_layer2 = 9
hidden_nodes_layer3 = 9
hidden_nodes_layer4 = 9

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_40 (Dense)            (None, 9)                 405

 dense_41 (Dense)            (None, 9)                 90

 dense_42 (Dense)            (None, 9)                 90

 dense_43 (Dense)            (None, 9)                 90

 dense_44 (Dense)            (None, 1)                 10

=================================================================
Total params: 685
Trainable params: 685
Non-trainable params: 0
_________________________________________________________________

In [76]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [77]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=30)

Epoch 1/30
804/804 [==============================] - 3s 2ms/step - loss: 0.5939 - accuracy: 0.6931
Epoch 2/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5590 - accuracy: 0.7240
Epoch 3/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7270
Epoch 4/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7286
Epoch 5/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7281
Epoch 6/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5522 - accuracy: 0.7296
Epoch 7/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5521 - accuracy: 0.7298
Epoch 8/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7304
Epoch 9/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7304
Epoch 10/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7294
Epoch 11/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7301
Epoch 12/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7314
Epoch 13/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7304
Epoch 14/30
804/804 [==============================] - 4s 5ms/step - loss: 0.5490 - accuracy: 0.7310
Epoch 15/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7318
Epoch 16/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7309
Epoch 17/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5481 - accuracy: 0.7322
Epoch 18/30
804/804 [==============================] - 4s 5ms/step - loss: 0.5479 - accuracy: 0.7314
Epoch 19/30
804/804 [==============================] - 4s 5ms/step - loss: 0.5478 - accuracy: 0.7329
Epoch 20/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5477 - accuracy: 0.7318
Epoch 21/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7313
Epoch 22/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7325
Epoch 23/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7329
Epoch 24/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5465 - accuracy: 0.7325
Epoch 25/30
804/804 [==============================] - 4s 5ms/step - loss: 0.5464 - accuracy: 0.7334
Epoch 26/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7329
Epoch 27/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5466 - accuracy: 0.7327
Epoch 28/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7320
Epoch 29/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7320
Epoch 30/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5460 - accuracy: 0.7331

In [71]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5466 - accuracy: 0.7334 - 479ms/epoch - 2ms/step
Loss: 0.5465936660766602, Accuracy: 0.7334110736846924

After trying many combinations in the above attempts, it appears there is very little that can be done to increase the accuracy of this model without somehow altering the underlying dataset. Either by eliminating outliers or adding additional data. It is also possible that a neural network may not be the best type of machine learning to use in this instance.